
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav .logo{
    margin-left: 50px;
}
nav .links{
    margin-right: 50px;

}
nav .links a{
    text-decoration: none;
    color: hsl(216, 30%, 68%);
    margin: 0 10px;
}
nav button{
    height: 30px;
    padding: 10px;
    text-align: center;
    margin: auto;
    display: inline-block;
    text-align: center;
    border: 2px solid hsl(216, 30%, 68%) ;
}
header{
    height: 500px;
    display: flex;
    background-color: hsl(256, 26%, 20%);
}
.header-info{
    display: flex;
}
 hr{
    height: 1px;
    width: 200px;
    position: absolute;
    margin-top: 70px;
    left: 200px;
    background-color: white;
    border: none;
 }
.left-background .bg-left{
margin-top: 200px;
}
.header-info {
    display: flex;
    justify-content: center;
    margin-top: 70 auto;

}
.header-info .text{
    margin: 100px auto;
}
.header-info .text h1{
    color: white;
    font-size: 40px ;
    font-family: 'DM Serif Display', serif;
    padding: 10px;  
    
}
.header-info .text p{
    padding: 10px;  
    font-family: 'Karla', sans-serif;
    color: white;
}
.header-info .text button{
    height: 30px;
    padding: 10px;
    margin: 5px;;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.header-img .family{
    height: 500px;
    margin-top: 70px;
    padding: 10px;
}
.bg-right{
    height: 300px;
    position: relative;
}